body {
    background: rgb(233, 255, 233);
}

.main-block {
    width: 640px;
    height: 640px;
    margin: 30px auto;
    border: 3px solid black;
}

.block {
    width: 80px;
    height: 80px;
    float: left;
}

.blue {
    background: rgb(3, 3, 107);
}

.white {
    background: #fff;
}